:root {
    --desktop-body-margin-left: 2vw;
    --desktop-body-margin-right: 2vw;
    --desktop-body-margin-top: 8vw;

    --desktop-body-fontsize: 1.4vw;
    --body-font-family: "Times New Roman";
    --body-font-color: rgba(255, 255, 255, 0.9);
    
    --body-background-color: rgb(25, 26, 26);


    --mobile-body-margin-left: 1vw;
    --mobile-body-margin-right: 1vw;
    --mobile-body-margin-top: 5vh; /*17vh;*/
    --mobile-body-fontsize: 4vw;
}

.href_default:link,
.href_default:visited, 
.href_default:active 
.href_default:hover {
    color: rgb(187, 222, 251);
}

body {
    background-color: var(--body-background-color);
    
    margin-left: var(--desktop-body-margin-left);
    margin-right: var(--desktop-body-margin-right);
    margin-top: var(--desktop-body-margin-top);

    font-family: var(--body-font-family);
    font-size: var(--desktop-body-fontsize);
    color: var(--body-font-color);
}

a:link, 
a:visited, 
a:active, 
a:hover{
    color: rgba(136, 171, 240, 0.812);
    background-color: transparent;
    text-decoration: none;
}

.footer_note {
    font-size: var(--desktop-body-fontsize);
    color: rgba(255, 255, 255, 0.812);
    text-align: center;
}

.section_anchor {
    position: relative;
    top: -7.5vh;
}

.first_section_anchor {
    position: relative;
    top: -15vh;
}


@media screen and (max-aspect-ratio:1.5)
{
    body {
        margin-left: var(--mobile-body-margin-left);
        margin-right: var(--mobile-body-margin-right);
        margin-top: var(--mobile-body-margin-top);
        font-size: var(--mobile-body-fontsize);
    }

    .footer_note {
        font-size: var(--mobile-body-fontsize);
    }

    .section_anchor {
        top: -12vh;
    }

    .first_section_anchor {
        top: -20vh;
    }
}