body {
    background-color: rgb(25, 26, 26);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 75px;

    font-family: Helvetica;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.812);
}

a:link, 
a:visited, 
a:active, 
a:hover{
    color: rgba(136, 171, 240, 0.812);
    background-color: transparent;
    text-decoration: none;
}

.footer_note {
    font-family: Helvetica;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.812);
    text-align: center;
}

.section_anchor {
    position: relative;
    top: -50px;
}

.first_section_anchor {
    position: relative;
    top: -75px;
}


@media screen and (max-aspect-ratio:1.5)
{
    body {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 150px;
        font-size: 14px;
    }


}