:root {
    --header_title_font_color: rgb(255, 255, 255);
}

.achievements,
.news,
.publications,
.experience {
    margin-left: var(--desktop-body-margin-left);
    margin-right: var(--desktop-body-margin-right);
    margin-top: var(--desktop-body-margin-top);
}

.achievements_main_header,
.news_main_header,
.publications_main_header,
.experience_main_header {
    color: var(--header_title_font_color);
    font-weight: bold;
}


@media screen and (max-aspect-ratio:1.5)
{
    .achievements,
    .news,
    .publications,
    .experience {
        margin-left: var(--mobile-body-margin-left);
        margin-right: var(--mobile-body-margin-right);
        margin-top: 5vh;
    }


}