.indv_news {
    margin-top: 1vw;
    display: grid;
    grid-template-columns: 1fr 12fr;
    align-items: center;
}

.news_date {
    background-color: rgb(195, 81, 81);
    width: 5vw;
    height: 1.25vw;
    padding: 0.5vw;
    border-radius: 0.5vw;
}

@media screen and (max-aspect-ratio:1.5)
{
    .news_date {
        width: 15vw;
        height: 4.5vw;
        border-radius: 1vw;
    }

    .indv_news {
        column-gap: 2vw;
    }
}