.indv_news {
    font-family: Helvetica;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 12fr;
    align-items: center;
}

.news_date {
    font-family: Helvetica;
    background-color: brown;
    width: 72px;
    height: 20px;
    padding: 5px;
    border-radius: 10px;
}

@media screen and (max-width:600px)
{
    .news_date {
        width: 50px;
        height: 17px;
        border-radius: 5px;
    }

    .indv_news {
        column-gap: 10px;
    }
}